<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets.css">    
    <script src="store.js" async></script>
    <title>BlackPink|Store</title>
</head>
<body>
    <header class="head">
        <nav class="nav main-nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="/store">Store</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
        <h1 class="band-name band-name-large">BLACKPINK</h1>
    </header>
    <section class="content-section container">
        <h1 class="section-heading">Albums</h1>
        <div class="shop-items">
            <% items.albums.forEach(function(item){%>
            <div class="shop-item" data-item-id="<%=item.id%>">
            <span class="shop-item-title"><%=item.name%></span>
            <img class="shop-item-image" src="images/<%=item.imgSrc%>" alt="This image isn't available" width="200">
            <div class="shop-item-details">
                <span class="shop-item-price"><%=item.price/100%></span>
                <button type="button" class="btn btn-primary shop-item-btn">Add to cart</button>
             </div>
        </div>
        <% })%>
    </section>
    <section class="container">
        <h1 class="section-heading">Merch and accessories</h1>
        <div class="shop-items">
            <% items.merch_and_accessories.forEach(function(item){%>
            <div class="shop-item" data-item-id="<%item.id%>">
            <span class="shop-item-title"><%=item.name %> </span>
            <img class="shop-item-image" src="images/<%= item.imgSrc %> " alt="This image isn't available" width="200">
            <div class="shop-item-details">
                <span class="shop-item-price"><%= item.price %> </span>
                <button class="btn btn-primary shop-item-btn" type="button">Add to cart</button>
            </div>
        </div>
        <% }) %> 
           <!-- <div class="shop-item">
            <span class="shop-item-title">Blackpink Hoodie</span>
            <img  class="shop-item-image" src="images/blackpinkmerch2.jpg" alt="This image isn't available" width="200" height="200">
            <div class="shop-item-details">
                <span class="shop-item-price">$200.00</span>
                <button class="btn btn-primary shop-item-btn" type="button">Add to cart</button>
            </div>
        </div>
            <div class="shop-item">
            <span class="shop-item-title">Blackpink Airpods</span>
            <img class="shop-item-image" src="images/blackpinkairpods.jpeg" alt="This image isn't available" width="200">
            <div class="shop-item-details">
                <span class="shop-item-price">$300.00</span>
                <button class="btn btn-primary shop-item-btn" type="button">Add to cart</button>
            </div>
        </div>
            <div class="shop-item">
            <span class="shop-item-title">Blackpink accessories</span>
            <img class="shop-item-image" src="images/blackpink_accessories.jpeg" alt="This image isn't available" width="200">
            <div class="shop-item-details">
                <span class="shop-item-price">$60.00</span>
                <button class="btn btn-primary shop-item-btn" type="button">Add to cart</button>
            </div>
        </div>
            <div class="shop-item">
            <span class="shop-item-title">Blackpink Mask</span>
            <img class="shop-item-image" src="images/blackpinkmask.jpeg" alt="This image isn't available" width="200">
            <div class="shop-item-details">
                <span class="shop-item-price">$20.00</span>
                <button class="btn btn-primary shop-item-btn" type="button">Add to cart</button>
            </div>
        </div>
    </div>-->
    </section>
    <section class="container">
        <h1 class="section-heading">Cart</h1>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">Item</span>
            <span class="cart-price cart-header cart-column">Price</span>
            <span class="cart-quantity cart-header cart-column">Quantity</span>
        </div>
        <div class="cart-items">
            <!--<div class="cart-row">
                <div class="cart-item cart-column">
                    <img class="cart-item-img" src="images/blackpinkmerch2.jpg" alt="This image isn't available!" width="100" height="100">
                    <span class="cart-item-title">Hoodie</span>
                </div>
                <span class="cart-price cart-column">$200.00</span>
                <div class="cart-item cart-column">
                    <input class="cart-quantity-input" type="number" value="1">
                    <button class="btn btn-danger" type="button">Remove</button>
                </div>-->
            </div>
            
        <div class="cart-total">
            <strong class="cart-total-title">TOTAL</strong>
            <span class="cart-total-price">$0.00</span>
        </div>
            <form action="payment" method="POST">
                <script
                src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="<%= key%>"
                data-amount="8000"
                data-currency="usd"
                data-name="Harshita Naik"
                data-description="Purchase Button"
                data-locale="auto" >
                </script>
            </form>
    </section>
    <footer class="main-footer">
        <div class="container main-footer-container">
        <h3 class="band-name">BLACKPINK</h3>
        <ul class="nav footer-nav">
            <li><a href="https://instagram.com" target="_blank"><img src="images/002-instagram.png"></a></li>
            <li><a href="https://spotify.com" target="_blank"><img src="images/002-spotify.png"></a></li>
            <li><a href="https://youtube.com" v><img src="images/002-youtube.png"></a></li>
        </ul>
        </div>
    </footer>
</body>
</html>